#parent
{
  height: 300px;
  width:  300px;
    background-color: red;
    position: relative;
    
}

  
  #child1
{
    height: 100px;
    width:  100px;
    background-color: blue;
    position: absolute;
    right:0;


  }

  #child2
  {
      height: 100px;
      width:  100px;
      background-color: green;

  
    }