div {
  width: 50px;
  height: 50px;
  background-color: #e74c3c;
}

/* All p elements that are direct descendants of a div are given green text */
div > p  {
  color: green;

}

.heading {
  font-weight: bold;
  vertical-align: middle;
}

.tomato {
  color: tomato;
}

.gross-color {
  color: #a3c010;
}

.nice-color {
  color: #03bbbb;
}

button:hover {
  background-color: blue;
  color: black;
  border: 1px solid black;
}

 /*The above CSS will find any p element that is the second child (of anything), and color it red. For instance:  */

p:nth-child(2) {
  background: red;
}

div > p  {
  color: green;
}

                  /* All p elements that within a div are given blue text */
                  div p {
                    color: blue;
                  }